.data__range {
  margin: 0;
  padding: 0;
  height: 2px;
  /* background: #ff9514; */
  /* background: #fc0; */
  width: 389px;
  grid-column: 2/7;
  margin-left: -10px;
  grid-row: 12/13;
  cursor: pointer;
  appearance: none;
}
.data__range:hover {
  height: 1px;
}

@media screen and (max-width: 1439px) {
  .data__range {
    width: 272px;
  }
}

@media screen and (max-width: 1119px) {
  .data__range {
    width: 650px;
  }
}

@media screen and (max-width: 767px) {
  .data__range {
    width: 240px;
  }
}

.data__range::-webkit-slider-thumb {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ff9514;
  cursor: pointer;
}
.data__range::-moz-range-thumb {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ff9514;
  cursor: pointer;
  border: none;
}