.main__title {
    padding: 0;
    margin: 213px auto 32px 47px;
    height: 98px;
    max-width: 753px;
    font-size: 54px;
    line-height: 48.6px;
}

  @media screen and (max-width: 1119px) {
    .main__title {
        margin: 64px auto 44px 36px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .main__title {
      font-size: 34px;
      line-height: 30.6px;
      margin: 44px 20px 32px 20px;
      height: 124px;
      max-width: 279px;
    }
  }
  