.data__background {
    margin: 0;
    padding: 0;
    background-color: #F3F3F4;
    border-radius: 16px;
    grid-column: 1/8;
    grid-row: 3/11;
}
@media screen and (max-width: 767px) {
    .data__background {
        
    }
  }
  