.data__ellipse {
  margin: 0;
  padding: 0;
  /* width: 20px; */
  /* height: 1px; */
  /* background-color: #ff9514; */
  /* border-radius: 50%; */
  /* grid-row: 9/10; */
  /* grid-column: 2/3; */
  grid-column: 2/7;
  grid-row: 12/13;
  /* z-index: 2; */
}
.data__ellipse::after {
  height: 2px;
}
/* .data__ellipse[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #ff9514;
  color: #ff9514;
  height: 20px;
  width: 20px;
  border-radius: 50%;
} */
/* .data__ellipse[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    background: #ff9514;
    box-shadow: -379px 0 0 379px #ff9514;
  }  */
/* .data__ellipse::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
} */
