.main {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  width: 1440px;
  border: 1px solid red;
  font-family: "Nekst-Black", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1439px) {
  .main {
    width: 1120px;
  }
}

@media screen and (max-width: 1119px) {
  .main {
    width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .main {
    width: 320px;
  }
}
