.order__sum {
  margin: 0;
  padding: 0;
  width: 279px;
  font-size: 54px;
  line-height: 48.6px;
  color: #333333;
}
@media screen and (max-width: 767px) {
  .order__sum {
    font-size: 1.4em;
    line-height: 1.2em;
    width: 200px;
  }
}
