.data__attribute {
    margin: 0;
    padding: 0;
    color: #575757;
    font-size: 1.9em;
    grid-row: 5/7;
    grid-column: 4/7;
    text-align: right;
    line-height: 36px;
}
@media screen and (max-width: 767px) {
    .data__attribute {
        font-size: 1.4em;
        line-height: 1.2em;
    }
  }
  