.order__submit_loading {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid red;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  background: #ff9514;
  border: 2px solid #FFFFFF;
  border-right: none;
  opacity: 0;
  z-index: 3;
}
