.order__subtitle {
  line-height: 24px;
  height: 24px;
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .order__subtitle {
    margin-bottom: 2px;
    line-height: 19px;
    height: 17px;
  }
}
