.data__line {
    margin: 0;
    padding: 0;
    height: 1px;
    width: 379px;
    background-color: #E1E1E1;
    grid-column: 2/7;
    grid-row: 11/12;    
}
@media screen and (max-width: 1439px) {
    .data__line {
        width: 272px;
    }
  }
  
  @media screen and (max-width: 1119px) {
    .data__line {
    }
  }
  
  @media screen and (max-width: 767px) {
    .data__line {
      width: 240px;  

    }
  }
  